.password_strength_meter {
	float: right;
	width: 168px;
	height: 22px;
}


.password_strength_meter .bar_container {
	width: 168px;
	height: 22px;
}

.bar {
	width: 168px;
	height: 22px;	
}

.password_strength_meter .pws_empty {
	background-image: url(/images/password-strength-empty.png);
	background-repeat: no-repeat;
	width: 168px;
	height: 22px;
}

.password_strength_meter .pws_bad {
	background-image: url(/images/password-strength-bad.png);
	background-repeat: no-repeat;
}

.password_strength_meter .pws_weakest {
	background-image: url(/images/password-strength-weakest.png);
	background-repeat: no-repeat;
}

.password_strength_meter .pws_weak {
	background-image: url(/images/password-strength-weak.png);
	background-repeat: no-repeat;
}

.password_strength_meter .pws_medium {
	background-image: url(/images/password-strength-medium.png);
	background-repeat: no-repeat;
}

.password_strength_meter .pws_strong {
	background-image: url(/images/password-strength-strong.png);
	background-repeat: no-repeat;
}

.password_strength_meter .pws_strongest {
	background-image: url(/images/password-strength-strongest.png);
	background-repeat: no-repeat;
}


#sign_up_password_meter_bar_text {
	display: none;
}

#sign_up_password_meter_bar {
	width: 168px;
	height: 22px;
}