.password_strength_meter {
	display: inline;
	float: left;
}

.password_strength_meter div {
	display: inline;
	float: left;
}

.password_strength_meter .bar_container {
	border: solid #aaaaaa 1px;
	width: 100px;
	margin-right: 6px;
}

.password_strength_meter .pws_weak {
	background-color: #ff0000;
}

.password_strength_meter .pws_medium {
	background-color: #ffff00;
}

.password_strength_meter .pws_strong {
	background-color: #00ff00;
}